fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-telegram-bot
supabase
cloudinary
pandas
numpy
opencv-python
pillow
httpx
fsspec
